.topnav {
    /* background-color: #285192; */
    height: 100;
    padding: 13px;
    margin-top: -10px;
    padding-right: 0;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-style: Georgia;
    font-size: 20px;
  }
  